<div>
    <h2 id="page-heading">
        <span jhiTranslate="eDiaymaApp.ligneCommande.home.title">Ligne Commandes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ligne-commande" [routerLink]="['/ligne-commande/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eDiaymaApp.ligneCommande.home.createLabel">
            Create a new Ligne Commande
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ligneCommandes?.length === 0">
        <span jhiTranslate="eDiaymaApp.ligneCommande.home.notFound">No ligneCommandes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ligneCommandes && ligneCommandes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="eDiaymaApp.ligneCommande.quantiteCommande">Quantite Commande</span></th>
                    <th scope="col" ><span jhiTranslate="eDiaymaApp.ligneCommande.prixTotal">Prix Total</span></th>
                    <th scope="col" ><span jhiTranslate="eDiaymaApp.ligneCommande.commande">Commande</span></th>
                    <th scope="col" ><span jhiTranslate="eDiaymaApp.ligneCommande.article">Article</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ligneCommande of ligneCommandes ;trackBy: trackId">
                    <td><a [routerLink]="['/ligne-commande', ligneCommande.id, 'view']">{{ ligneCommande.id }}</a></td>
                    <td>{{ ligneCommande.quantiteCommande }}</td>
                    <td>{{ ligneCommande.prixTotal }}</td>
                    <td>
                        <div *ngIf="ligneCommande.commandeId">
                            <a [routerLink]="['/commande', ligneCommande.commandeId , 'view']" >{{ ligneCommande.commandeId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="ligneCommande.articleId">
                            <a [routerLink]="['/article', ligneCommande.articleId , 'view']" >{{ ligneCommande.articleId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ligne-commande', ligneCommande.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ligneCommande)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
